In [3]:
pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd  # Data manipulation
import numpy as np   # Numerical operations

# Load the dataset
df = pd.read_csv('PB_All_2000_2021.csv', sep=';')

# Basic overview
print("Shape:", df.shape)
print("\nMissing values:\n", df.isnull().sum())
print("\nSummary statistics:\n", df.describe())

# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')

# Sort the data by 'id' and 'date'
df.sort_values(by=['id', 'date'], inplace=True)

# Show first few rows
print("\nFirst few rows:\n", df.head())

# Display column names
print("\nColumns:\n", df.columns.tolist())

# Define pollutant columns of interest
pollutants = ['O2', 'NO3', 'NO2', 'SO4', 'PO4', 'CL']

Shape: (2861, 11)

Missing values:
 id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

Summary statistics:
                 id          NH4         BSK5    Suspended           O2  \
count  2861.000000  2858.000000  2860.000000  2845.000000  2858.000000
mean     12.397064     0.758734     4.316182    12.931905     9.508902
std       6.084226     2.486247     2.973997    16.543097     4.428260
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       8.000000     0.080000     2.160000     6.000000     7.092500
50%      14.000000     0.220000     3.800000    10.000000     8.995000
75%      16.000000     0.500000     5.800000    15.000000    11.520000
max      22.000000    39.427000    50.900000   595.000000    90.000000

               NO3          NO2          SO4          PO4           CL
count  2860.000000  2858.000000  2812.000000  2833.000000  2812.000000
mean      4.316846     0.246128    59.362313     0.418626    93.731991
std       6.881188     2.182777    96.582641     0.771326   394.512184
min       0.000000     0.000000     0.000000     0.000000     0.020000
25%       1.390000     0.030000    27.052500     0.130000    26.800000
50%       2.800000     0.059000    37.800000     0.270000    33.900000
75%       5.582500     0.125750    64.640000     0.470000    45.607500
max     133.400000   109.000000  3573.400000    13.879000  5615.280000

First few rows:
    id       date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4  \
0   1 2000-02-17  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454
1   1 2000-05-11  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090
2   1 2000-09-11  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200
3   1 2000-12-13  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377
4   1 2001-03-02  0.000  3.03       48.8  14.69  10.00  0.065  281.6  0.134

       CL
0   289.5
1  1792.0
2  2509.0
3  1264.0
4  1462.0

Columns:
 ['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4', 'PO4', 'CL']